<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= title %> - My Password Manager</title>
	<link rel='stylesheet' href='/uikit/css/uikit.almost-flat.min.css' />
	<link rel='stylesheet' href='/font-awesome/css/font-awesome.min.css' />
</head>
<body>