<div class="uk-grid">
<div class="uk-width-medium-2-10">
	<ul class="uk-tab uk-tab-left">
    <li class="uk-active"><a href="/user/settings/info">Info</a></li>
    <li><a href="/user/settings/password">Password</a></li>
    <li><a href="/user/settings/email">Email</a></li>
    <li><a href="/user/settings/password">Main password</a></li>
</ul>
</div>
<div class="uk-width-medium-8-10">sss</div>
</div>
