<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="favicon.ico" />
	<title><%= title %> - My Password Manager</title>
	<link rel='stylesheet' href='/uikit/css/uikit.almost-flat.min.css' />
	<link rel='stylesheet' href='/font-awesome/css/font-awesome.min.css' />
</head>
<body>
	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
		<nav class="uk-navbar uk-margin-large-bottom">
			<a class="uk-navbar-brand" href="/">My Password Manager</a>
			<div class="uk-navbar-flip">
				<ul class="uk-navbar-nav">
					<li>
						<a href="/user/sign-up">Sign up</a>
					</li>
					<li>
						<a href="/user/sign-in">Sign in</a>
					</li>
				</ul>
			</div>
		</nav>
		<%- body %>
	</div>
	<script type='text/javascript' src="/jquery/jquery.min.js"></script>
	<script type='text/javascript' src="/uikit/js/uikit.min.js"></script>
</body>
</html>