<div ng-app="mpmApp">
	<div ng-controller="ListController as list">
		<div class="uk-container-center uk-text-center" ng-show="list.loader">
			<img src="/images/loader.gif" alt="Loading..." width="128" height="128" />
		</div>
		<div class="uk-alert uk-alert-large uk-alert-danger" ng-show="list.error">
			<h2>An error occured</h2>
			<p>We can't reach the app, try to fix the problem by checking the following points:</p>
			<ul>
				<li>Check your internet connection</li>
				<li>Check if JavaScript is enabled on your browser</li>
				<li>Reload the page</li>
			</ul>
			<p>If everything is correct on your side, please try later. The issue may be temporary. If the issue persist, contact us.</p>
		</div>
		<div class="uk-grid-width-1-2" ng-show="list.items.length" id="containerItems">
			<div ng-repeat="item in list.items">
				<mpm-iteminfo item="item"></mpm-iteminfo>
			</div>
		</div>
		<div ng-show="list.items.length == 0">
			<p>There is no item to display.</p>
		</div>
	</div>
</div>